*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
 max-width: 1980px;


  
}
body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#logo-container{
width: 100%;
display: flex;
justify-content: center;
}

#logo{

width: 15%;
height: auto;

}

#shopping-cont {
  display: flex;


}

#shopping{
  flex-wrap: wrap;
}


#shopping > li {
  flex-basis: calc(25% - 10px);
  margin-right: 10px;
 
  text-decoration-style: none;
  list-style: none;
}
li{
  list-style: none;
}


