*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
 max-width: 1980px;
 margin: 0 auto;

  
}
body{
  display: flex;
  justify-content: center;

}

#shopping {
display: flex;
flex-wrap: wrap;
}

#logo-container{
width: 100%;
display: flex;
justify-content: center;
}

#logo{

width: 15%;
height: auto;

}

#shopping > li {
  flex-basis: calc(25% - 10px);
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  text-decoration-style: none;
  list-style: none;
}
li{
  list-style: none;
}


